/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* GENERAL */
body {
    font-family: "DM+Sans", sans-serif;
    background-color: #fcf9fb;
    min-height: 100vh;
    background-image: url(/imagenes/fondo_ondas.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
li, a, h5 {
    color: #fcf9fb;
    text-decoration: none;
}
button {
    color: #fcf9fb;
}
h1, h2, p {
    color: #646464;
    text-decoration: none;
}
h1 {
    font-size: 1.8rem;
    color: #ce4e9d
}
h2 {
    font-weight: 400;
    font-size: 1.1rem;
    padding: 1rem;
}
h5 {
    font-weight: 400;
    font-size: .7rem;
}
p {
    margin-top: -.5rem;
    font-size: 1rem;
    padding: 1rem;
}

/* BARRA NAVEGACION */
.enc {
    grid-area: enc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #c4c4c4;
    z-index: 1;
}
.enc__logo {
    height: 2rem;
    padding: .5rem;
}
.enc__logoMov {
    display: none;
    height: 2rem;
    padding: .5rem;
}
.enc__navMenu {
    display: flex;
    list-style: none;
    align-items: center;
    height: 3rem;
}
.enc__nav li {
    height: fit-content;
}
.enc__nav li a {
    padding: .94rem;
    transition: all .5s ease;
}
.enc__nav li a:hover {
    background-color: #ce4e9d;
}

/* BOTONES */
.boton__1 {
    font-size: 1rem;
    padding: .8rem 2rem;
    border-radius: 2rem;
    background-color: #cc8db4;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}
.boton__1:hover {
    background-color: #ce4e9d
}

/* PIE DE PAGINA */
.pie {
    grid-area: pie;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 .8rem 0 .8rem;
    height: 3rem;
    background-color: #c4c4c4;
    z-index: 1;
}
.footer__link {
    display: flex;
    align-items: center;
}
.iconoIg {
    height: 1rem;
    padding-left: .5rem;
}

/* MAIN PORTADA */
.body__index {
    display: grid;
    grid-template-areas:
        "enc enc"
        "main__contPpal main__imgLat"
        "pie pie";
    grid-template-rows: 3rem auto 3rem; 
    grid-template-columns: 60% auto;
}
.main__contPpal {
    grid-area: main__contPpal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 2rem;
}
.main__contPpalTxt {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}
.logo {
    width: 75%;
    margin-bottom: 1.8rem;
}

/* Imagen portada c/ hover overlay */
.main__imgLat {
    grid-area: main__imgLat;
    display: flex;
    align-items: center;
    position: relative;
}
.cont__imgLat {
    display: flex;
    justify-content: center;
}
.imgLat {
    opacity: 1;
    width: 80%;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 20% 0 20% 0;
}
.main__imgBoton {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.main__imgLat:hover .imgLat {
    opacity: 0.5;
}
.main__imgLat:hover .main__imgBoton {
    opacity: 1;
}
.contacto {
    padding: 40px;
}

/* BIOGRAFIA */
.body__biografia {
    display: grid;
    grid-template-areas:
        "enc enc"
        "main__biografia imgDaniela"
        "pie pie";
    grid-template-rows: 3rem auto 3rem; 
    grid-template-columns: 60% auto;
}
.main__biografia {
    grid-area: main__biografia;
    padding-top: 1rem;
}
.main__biografia h2 {
    padding-top: 1.5rem;
}
.imgDaniela {
    grid-area: imgDaniela;
    padding-top: 1rem;
}
.imgDaniela__img {
    height: 97%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgDaniela img {
    width: 80%;
    border-radius: 20% 0 20% 0;
}

/* CONTACTO */
.body__contacto {
    display: grid;
    grid-template-areas:
        "enc enc"
        "section__contacto section__contactoLogo"
        "pie pie";
    grid-template-rows: 3rem auto 3rem; 
    grid-template-columns: 60% auto;
}
.section__contacto {
    grid-area: section__contacto;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
.section__contactoLogo {
    grid-area: section__contactoLogo;
    padding-top: 1rem;
}
.cont__contactoLogo {
    display: flex;
    height: 93%;
    justify-content: center;
}
.section__contactoLogo img {
    width: 80%;
}
.section__contacto h1 {
    padding-bottom: .5rem;
}
.section__consulta {
    display: flex;

}
.contppal__consulta img {
    height: 90px;
}
.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}
fieldset {
    border:0px;
}
.formulario__botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ce4e9d;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ce4e9d;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: .8rem 2rem;
    margin: 8px 0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=reset] {
    width: 45%;
    background-color: #646464;
    color: white;
    padding: .8rem 2rem;
    margin: 8px 0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: #494949;
}
.formulario__inferior {
    display: flex;
    padding-top: .5rem;
}
.checkbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}
.checkbox div {
    padding-left: 1rem;
}
.cuadroconsulta {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

/* SERVICIOS */
.body__servicios {
    display: grid;
    grid-template-areas:
    "enc enc enc"
    "maquillaje skincare talleres"
    "pie pie pie";
    grid-template-rows: 3rem auto 3rem; 
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
}
.servicio#maquillaje {
    grid-area: maquillaje;
}
.servicio#skincare {
    grid-area: skincare;
}
.servicio#talleres {
    grid-area: talleres;
}
.servicio {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 .5rem 0;
}
.cont__servImg {
    padding: 1rem
}
.cont__servImg img {
    border-radius: 20% 0 20% 0;
    width: 100%;
}
.cont__servTxt {
    background-color: #cc8db4;
    height: 1rem
}
.cont__servTxt span {
    color: #646464;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1rem;
    position: relative;
    background-color: #fcf9fb;
    padding: 0rem 1rem 0rem 1rem;
}
.cont_servTxtDescr {
    font-size: .7rem;
    padding: 0 1rem 0 1rem;
}

/* PORTFOLIO */
.body__portfolio {
    display: grid;
    grid-template-areas: 
    "enc enc"
    "galeria portfolio__talleres"
    "pie pie";
    grid-template-rows: 3rem auto 3rem;
    grid-template-columns: 50% 50%;
}
.galeria {
    grid-area: galeria;
    padding: 1rem 0 1rem 0;
}
.cont__galeria {
    display: flex;
    height: 100%;
    padding-left: 1rem;
    align-items: center;
}
.galeriaImagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 8.5rem);
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
}
.galeriaImagenes img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.portfolio__talleres {
    grid-area: portfolio__talleres;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
}
.cont__video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.video iframe {
    display: block;
    margin: auto;
}
.testimonios {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonios h2 {
    font-size: 90%;
}
.testimonios p {
    font-size: 80%;
}

/* RESPONSIVE MOVIL */
@media screen and (max-width: 320px) {
    /* GENERAL */
    body {
        background-image: none;
    }
    h1 {
        font-size: .7rem;
        padding-bottom: .5rem;
    }
    h2 {
        font-size: .5rem;
        padding: .5rem;
    }
    p {
        font-size: .4rem;
        padding: .3rem;
    }
    
    .boton__1 {
        font-size: .5rem;
        padding: .4rem 1rem;
    }
    /* ENCABEZADO MOVIL */
    .enc {
        height: 1rem;
    }
    .enc__nav {
        display: none;
    }
    .enc__logo {
        display: none;
    }
    .enc__logoMov {
        display: block;
        height: 70%;
        padding-left: .2rem;
    }
    /* PIE MOVIL */
    .pie {
        height: 1rem;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: space-around;
    }
    .footer__link {
        font-size: .4rem;
    }
    .pie h5 {
        font-size: .2rem;
    }
    .iconoIg {
        height: .35rem;
        padding-left: .1rem;
    }
    /* INDEX MOVIL */
    .body__index {
        grid-template-areas:
        "enc"
        "main__contPpal"
        "main__imgLat"
        "pie";
        grid-template-rows: 1rem auto auto 1rem;
    }
    .main__contPpal {
        padding: .5rem;
    }
    .logo {
        width: 100%;
        margin-bottom: .5rem;
    }
    .imgLat {
        opacity: 0.5;
    }
    .main__imgBoton {
        opacity: 1;
    }
    /* SERVICIOS MOVIL */
    .body__servicios {
        grid-template-areas:
        "enc"
        "maquillaje"
        "skincare"
        "talleres"
        "pie";
        grid-template-rows: 1rem auto auto auto 1rem;
    }
    .servicio {
        display: flex;
        flex-direction: column;
        padding: .5rem 0 .5rem 0;
    }
    .cont__servImg {
        padding: .5rem 0 .5rem 0
    }
    .cont__servImg img {
        border-radius: 10% 0 10% 0;
    }
    .cont__servTxt {
        height: .5rem;
    }
    .cont__servTxt span {
        font-size: .4rem;
        padding: 0rem .1rem .05rem .1rem;
    }
    .cont_servTxtDescr {
        font-size: .4rem;
        padding: 0 .2rem 0 .2rem;
    }

    /* BIOGRAFIA MOVIL*/
    .body__biografia {
        grid-template-areas:
            "enc"
            "main__biografia"
            "pie";
        grid-template-rows: 1rem auto 1rem;
    }
    .main__biografia {
        grid-area: main__biografia;
        padding-top: .5rem;
    }
    .main__biografia h2 {
        padding-top: .5rem;
    }
    .imgDaniela {
        display: none;
    }
    
    /* CONTACTO MOVIL */
    .body__contacto {
        grid-template-areas:
            "enc"
            "section__contacto"
            "pie";
        grid-template-rows: 1rem auto 1rem; 
    }
    .section__contactoLogo {
        display: none;
    }
    
    /* PORTFOLIO MOVIL */
    .body__portfolio {
        grid-template-areas: 
        "enc"
        "galeria"
        "portfolio__talleres"
        "pie";
        grid-template-rows: 1rem auto auto 1rem;
    }
    .galeria {
        padding: .5rem 0 0rem 0;
    }
    .galeriaImagenes { 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: .05rem;
        grid-row-gap: .05rem;
        padding: .5rem 0 0 0;
    }
    .galeriaImagenes img {
        object-fit: cover;
        height: 100%;
        max-width: 100%;
    }
    .portfolio__talleres {
        grid-area: portfolio__talleres;
        flex-direction: column;
        padding: .5rem 0 .5rem 0;
    }
    .cont__video {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: auto;
    }
    .video iframe {
        width: 100%;
        height: auto;
        padding-top: .5rem;
    }
    .testimonios h2 {
        font-size: 50%;
    }
    .testimonios p {
        font-size: 30%;
    }   
}

/* RESPONSIVE TABLET */
@media screen and (max-width: 768px) {

}