/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* GENERAL */
body {
    font-family: "DM+Sans", sans-serif;
    background-color: #fcf9fb;
    min-height: 100vh;
    background-image: url(/imagenes/fondo_ondas.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li, a, h6 {
    color: #fcf9fb;
    text-decoration: none;
}
h5 {
    color: #646464;
    text-decoration: none;
    font-size: 1rem;
}
p {
    color: #646464;
    text-decoration: none;
}
h3 {
    font-weight: bold;
    color: #ce4e9d;
    font-size: 1.5rem;
}
h6 {
    font-size: .8rem;
}

/* BARRA NAVEGACION */
.navbar {
    padding: 0;
    background-color: #adb5bd;
    z-index: 1;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
}
.navbar>.container-fluid {
    padding: 0;
}
.navbar-toggler {
    color: #fcf9fb;
    border-style: none;
}
.nav-link:hover {
    background-color: #ce4e9d;
}
.navbar-light .navbar-nav .nav-link {
    color: #fcf9fb;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fcf9fb;
}
.nav-item {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.img-enc {
    height: 30px;
}

/* BOTONES */
.btn-primary {
    color: #fcf9fb;
    background-color: #cc8db4;
    border-style: none;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fcf9fb;
    background-color: #cc8db4;

}
.btn-primary:hover {
    color: #fcf9fb;
    background-color: #ce4e9d;
}

/* PIE DE PAGINA */
.pie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40px;
    background-color: #adb5bd;
    z-index: 1;
}
.pie>.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pie h6 {
    margin: 0;
}
.pieIg {
    display: flex;
    align-items: center;
    font-size: max(1.1vw, 10px);
}
.iconoIg {
    height: max(1.2vw, 12px);
    padding-left: max(1vw, 5px);
}

/* MAIN PORTADA */
.main__contPpal {
    grid-area: main__contPpal;
    display: flex;
    padding: 0 5% 0 5%;
}
.contPpalTxt div {
    padding: 2%;
}
.contPpalTxt div img {
    animation: escala 5s;
}
@keyframes escala {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
/* Imagen portada c/ hover overlay */
.img-lat {
    position: relative;
}
.imgIndex {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    animation: bordes 6s infinite;
}
@keyframes bordes {
    0% {
        border-radius: 8vw 0 8vw 0;
    }
    20% {
        border-radius: 8vw 0 8vw 0;
    }
    30% {
        border-radius: 0;
    }
    40% {
        border-radius: 0 8vw 0 8vw;
    }
    70% {
        border-radius: 0 8vw 0 8vw;
    }
    80% {
        border-radius: 0;
    }
    100% {
        border-radius: 8vw 0 8vw 0;
    }
}
.btn-img {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.img-lat:hover .imgIndex {
    opacity: 0.5;
}
.img-lat:hover .btn-img {
    opacity: 1;
}

/* SERVICIOS */
.main__serv {
    display: flex;
    padding: 1vh 0 1vh 0;
}
.servicio {
    display: flex;
    flex-direction: column;
}
.cont__serv {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    align-items: center;
    padding: max(1vw, 10px) max(1vw, 10px) 0 max(1vw, 10px);
}
.cont__servImg {
    width: 100%;
    height: 100%;
}
.cont__servImg img {
    border-radius: 8vw 0 8vw 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cont__servTxt {
    display: flex;
    background-color: #cc8db4;
    height: max(1.5vw, 10px);
    align-items: center;
}
.cont__servTxt span {
    color: #646464;
    text-decoration: none;
    font-weight: 400;
    font-size: max(1.5vw, 10px);
    position: relative;
    background-color: #fcf9fb;
    padding: 0 max(1vw, 10px) 0 max(1vw, 10px);
}
.cont_servTxtDescr {
    font-size: max(1vw, 10px);
    padding-top: 1vw;
}

/* PORTFOLIO */
.galeria {
    padding-top: max(1vw, 10px);
    padding-bottom: max(1vw, 10px);
}
.cont__galeria {
    height: 100%;
}
.galeriaImagenes {
    display: grid;
    height: 100%;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30%);
    grid-column-gap: max(.5vw, 5px);
    grid-row-gap: max(.5vw, 5px);
    padding-left: max(1vw, 10px);
}
.galeriaImagenes img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.portfolio__talleres {
    padding-top: max(1vw, 10px);
    padding-bottom: max(1vw, 10px);
}
.cont__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: max(1vw, 10px);
}
.video iframe {
    display: block;
    margin: auto;
    width: 100%;
}
.testimonios {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: max(2vw, 10px);
}

/* BIOGRAFIA */
.main__biografia {
    padding-top: max(1vw, 10px);
    padding-bottom: max(1vw, 10px);
}
.biografiaTxt {
    display: flex;
    flex-direction: column;
    height: 99%;
    padding: 0 max(4vw, 20px) 0 max(4vw, 20px);
    justify-content: space-evenly;
}
.main__biografia h2 {
    padding-bottom: max(1.5vw, 10px);
}
.imgDaniela {
    padding-top: max(1vw, 10px);
    padding-bottom: max(1vw, 10px);
}
.imgDaniela__img {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center
}
.imgDaniela img {
    width: 80%;
    height: 80%;
    border-radius: 8vw 0 8vw 0;
    object-fit: cover;
}

/* CONTACTO */
.section__contacto {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}
.section__contactoLogo {
    padding-top: 1rem;
}
.cont__contactoLogo {
    display: flex;
    height: 93%;
    justify-content: center;
}
.section__contactoLogo img {
    width: 80%;
}
.section__contacto h1 {
    padding-bottom: .5rem;
}
.section__consulta {
    display: flex;

}
.contppal__consulta img {
    height: 90px;
}
.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}
fieldset {
    border:0px;
}
.formulario__botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ce4e9d;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ce4e9d;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: .8rem 2rem;
    margin: 8px 0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=reset] {
    width: 45%;
    background-color: #646464;
    color: white;
    padding: .8rem 2rem;
    margin: 8px 0;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: #494949;
}
.formulario__inferior {
    display: flex;
    padding-top: .5rem;
}
.checkbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}
.checkbox div {
    padding-left: 1rem;
}
.cuadroconsulta {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}