@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* TIPOGRAFIAS */
/* El tamaño de las h es una función lineal decreciente */
h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

p {
  font-size: 0.9rem;
}

em {
  font-size: 0.9rem;
}

li {
  font-size: 1rem;
}

a {
  font-size: 0.9rem;
}

h1 {
  color: #ce4e9d;
}

h2 {
  color: #ce4e9d;
}

h3 {
  color: #646464;
}

h4 {
  color: #646464;
}

h5 {
  color: #fcf9fb;
}

h6 {
  color: #fcf9fb;
}

p {
  color: #646464;
}

em {
  color: #646464;
}

li {
  color: #fcf9fb;
}

a {
  color: #fcf9fb;
}

li, a, h6 {
  text-decoration: none;
}

li:hover, a:hover, h6:hover {
  color: #fcf9fb;
}

h1 {
  font-weight: bold;
}

/* BARRA NAVEGACION */
.navbar {
  padding: 0;
  background-color: #8fa8c2;
  z-index: 1;
}

.collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navbar > .container-fluid {
  padding: 0;
}

.navbar-toggler {
  color: #fcf9fb;
  border-style: none;
}

.nav-link:hover {
  background-color: #ce4e9d;
}

.navbar-light .navbar-nav .nav-link {
  color: #fcf9fb;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fcf9fb;
}

.img-enc {
  height: 30px;
}

/* PIE DE PAGINA */
.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8fa8c2;
  padding: .6rem;
  z-index: 1;
}

.pie h5 {
  margin: 0;
}

.pieIg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem !important;
}

.ico-pie {
  font-size: 1rem !important;
  color: #fcf9fb !important;
}

/* CSS RESET */
* {
  padding: 0;
  margin: 0;
}

/* GENERAL */
body {
  min-height: 100vh;
  font-family: "DM+Sans", sans-serif;
  background-color: #fcf9fb;
  background-image: url(/imagenes/fondo_ondas.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row > * {
  margin-top: 0;
}

.container {
  padding: 0;
}

.txt-headerTarj {
  letter-spacing: .1rem;
  font-weight: bold;
  color: #ce4e9d;
}

/* BOTONES */
.btn-primary, .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .btn-primary.dropdown-toggle {
  background-color: #cc8db4;
  border-style: none;
}

.btn-primary:hover, .btn-check:active + .btn-primary:hover, .btn-check:checked + .btn-primary:hover {
  background-color: #ce4e9d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* MAIN PORTADA */
.cont-index {
  max-width: 1000px;
}

.contPpalTxt div {
  padding: 2%;
}

.contPpalTxt div img {
  -webkit-animation: escala 5s;
          animation: escala 5s;
}

@-webkit-keyframes escala {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes escala {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Imagen portada c/ hover overlay */
.img-lat {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgIndex {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: bordes 6s infinite;
          animation: bordes 6s infinite;
}

@-webkit-keyframes bordes {
  0% {
    border-radius: 8vw 0 8vw 0;
  }
  20% {
    border-radius: 8vw 0 8vw 0;
  }
  30% {
    border-radius: 0;
  }
  40% {
    border-radius: 0 8vw 0 8vw;
  }
  70% {
    border-radius: 0 8vw 0 8vw;
  }
  80% {
    border-radius: 0;
  }
  100% {
    border-radius: 8vw 0 8vw 0;
  }
}

@keyframes bordes {
  0% {
    border-radius: 8vw 0 8vw 0;
  }
  20% {
    border-radius: 8vw 0 8vw 0;
  }
  30% {
    border-radius: 0;
  }
  40% {
    border-radius: 0 8vw 0 8vw;
  }
  70% {
    border-radius: 0 8vw 0 8vw;
  }
  80% {
    border-radius: 0;
  }
  100% {
    border-radius: 8vw 0 8vw 0;
  }
}

.btn-img {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-lat:hover .imgIndex {
  opacity: 0.5;
}

.img-lat:hover .btn-img {
  opacity: 1;
}

/* SERVICIOS */
.card {
  border-radius: 1rem;
}

.card-header, .card-header-hor {
  background-color: #cc8db4;
  border: 0;
}

.card-header:first-child {
  border-radius: .8rem .8rem 0 0;
  margin: 0;
}

.card-img-top {
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.tarj-maquillaje {
  -webkit-animation: fadein1 1.3s;
          animation: fadein1 1.3s;
}

.tarj-maquillaje:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.tarj-skin {
  -webkit-animation: fadein2 1.3s;
          animation: fadein2 1.3s;
}

.tarj-skin:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.tarj-talleres {
  -webkit-animation: fadein3 1.3s;
          animation: fadein3 1.3s;
}

.tarj-talleres:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

@-webkit-keyframes fadein1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PORTFOLIO */
.txt-testimoniosCorto {
  display: none;
}

.img-car {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 25rem;
}

.carousel-control-next, .carousel-control-prev {
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  width: auto;
  background-color: #fcf9fb;
  background-blend-mode: soft-light;
}

.carousel-item p, .carousel-item h5 {
  margin: 0;
}

.galeria {
  -webkit-animation: fadein1 1.3s;
          animation: fadein1 1.3s;
}

.portfolioVidTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video {
  -webkit-animation: fadein2 1.3s;
          animation: fadein2 1.3s;
}

.testimonios {
  -webkit-animation: fadein3 1.3s;
          animation: fadein3 1.3s;
}

/* BIOGRAFIA */
.card-header-hor {
  border-radius: .8rem 0 0 .8rem;
  margin: 0;
  padding: 0;
}

.tarjBio1 h5, .tarjBio2 h5, .tarjBio3 h5 {
  color: #ce4e9d;
}

.colTarjBio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30rem;
}

.imgBio {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  -webkit-animation: fadeinImg 3s;
          animation: fadeinImg 3s;
}

@-webkit-keyframes fadeinImg {
  0% {
    opacity: 0;
  }
}

@keyframes fadeinImg {
  0% {
    opacity: 0;
  }
}

.tarjBio1 {
  -webkit-animation: fadein1 1.3s;
          animation: fadein1 1.3s;
}

.tarjBio2 {
  -webkit-animation: fadein2 1.3s;
          animation: fadein2 1.3s;
}

.tarjBio3 {
  -webkit-animation: fadein3 1.3s;
          animation: fadein3 1.3s;
}

/* CONTACTO */
input[type=text], input[type=email], input[type=number], input[type=tel] {
  border: 1px solid #ce4e9d;
}

input:hover {
  background-color: #fcf9fb;
}

textarea[type=text] {
  border: 1px solid #ce4e9d;
}

textarea[type=text]:hover {
  background-color: #fcf9fb;
}

label {
  padding: .5rem 0 .25rem 0;
}

.img-contacto {
  width: 25rem;
}

.txt-contactoEnc {
  text-align: end;
}

.bi {
  font-size: 1.8rem;
  color: #cc8db4;
}

.tel-tarjeta {
  font-size: 1.2rem;
}

.formulario {
  -webkit-animation: pop .25s;
          animation: pop .25s;
}

.email {
  padding-right: .5rem;
}

div.email.container.col-lg-6 {
  margin: 0;
}

.telefono {
  padding-left: .5rem;
}

div.telefono.container.col-lg-6 {
  margin: 0;
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 912px) {
  body {
    background-repeat: repeat-y;
  }
  .row > * {
    margin: .5rem;
  }
  .imgIndex {
    opacity: .5;
  }
  .btn-img {
    opacity: 1;
  }
  .card-img-top {
    height: 18rem;
  }
  .cont-iconos hr, .img-contacto {
    display: none;
  }
  .tarjeta-iconos {
    margin-top: 0 !important;
  }
  .ms-auto {
    margin: 0 !important;
  }
  .email {
    padding-right: 0;
  }
  .telefono {
    padding-left: 0;
  }
  .colTarjBio {
    height: 35rem;
  }
}

@media only screen and (max-width: 786px) {
  .card-img-top {
    height: 14rem;
  }
  .gal-img img {
    max-height: 12rem;
  }
  .card-header-hor {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .cont-imgLat {
    display: none;
  }
  .card-img-top {
    height: 8rem;
  }
  .txt-contacto {
    display: none;
  }
  .img-car {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 15rem;
  }
  .txt-testimoniosCorto {
    display: block;
  }
  .txt-testimoniosLargo, .imgBio {
    display: none;
  }
}
/*# sourceMappingURL=estilos.css.map */