/* PIE DE PAGINA */

.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $headfoot;
    padding: .6rem;
    z-index: 1;

    h5 {
        margin: 0;
    }

    .bi {
        @include icono-tipo-1
    }
}

.pie__linkIg {
    display: flex;
    align-items: center;
    font-size: .8rem!important;
}