/* PIE DE PAGINA */

.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $headfoot;
    padding: .6rem;
    z-index: 1;

    h5 {
        margin: 0;
    }
}

.pieIg {
    display: flex;
    align-items: center;
    font-size: .8rem!important;
}

.pieIco {
    font-size: 1rem!important;
    color: map-get($colorTipo, h5)!important;
}