$headfoot:#8fa8c2;
$fondo-gral: #fcf9fb;
$enc: #cc8db4;
$btn: $enc;
$intenso:#ce4e9d;
$claro: #fcf9fb;
$gris:#646464;
$icono-tipo-3: #e49dc9;

$radio: 1rem;

@mixin icono-tipo-1 {
    font-size: 1rem;
    color: map-get($colorTipo, h5);
}

@mixin icono-tipo-2 {
    font-size: 1.8rem;
    color: $btn;
}

@mixin icono-tipo-3 {
    font-size: 1.2rem;
    color: $icono-tipo-3;
}

@mixin icono-tipo-4 {
    font-size: 1.6rem;
    color: map-get($colorTipo, h5);
}

@mixin flex-col-center-sb {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

/* TIPOGRAFIAS */
/* El tamaño de las h es una función lineal decreciente */
$tamInic: 1.8rem;
$tamVar: -.2;

@for $tamTipoH from 1 to 7 {
    h#{$tamTipoH} {
        font-size: $tamVar * $tamTipoH + $tamInic;
    }
}

$tamTipo: (
    p: .9rem,
    em: .9rem,
    li: 1rem,
    a: .9rem,
);

@each $tipo, $altura in $tamTipo {
    #{$tipo} {
        font-size: $altura;
    }
}

$colorTipo: (
    h1: $intenso,
    h2: $intenso,
    h3: $gris,
    h4: $gris,
    h5: $claro,
    h6: $claro,
    p: $gris,
    em: $gris,
    li: $claro,
    a: $claro,
);

@each $tipo, $color in $colorTipo {
    #{$tipo} {
        color: $color;
    }
}

li, a, h6 {
    text-decoration: none;
    &:hover {
        color: map-get($colorTipo, li);
    }
}

h1 {
    font-weight: bold;
}