/* COLORES */
$headfoot:#8fa8c2;
$gral: #fcf9fb;
$enc: #cc8db4;
$btn: #cc8db4;
$intenso:#ce4e9d;
$claro: #fcf9fb;
$gris:#646464;

/* TIPOGRAFIAS */

$tamtipo: (
    h1: 1.8rem,
    h2: 1.6rem,
    h3: 1.4rem,
    h4: 1.2rem,
    h5: 1rem,
    h6: .8rem,
    p: .9rem,
    li: 1rem,
    a: .9rem,
);

@each $tipo, $altura in $tamtipo {
    #{$tipo} {
        font-size: $altura;
    }
}

$colortipo: (
    h1: $intenso,
    h2: $intenso,
    h3: $intenso,
    h4: $gris,
    h5: $gris,
    h6: $claro,
    p: $gris,
    li: $claro,
    a: $claro,
);

@each $tipo, $color in $colortipo {
    #{$tipo} {
        color: $color;
    }
}

li, a, h6 {
    text-decoration: none;
    &:hover {
        color: $claro;
    }
}

h3 {
    font-weight: bold;
}