/* BARRA NAVEGACION */

.navbar {
    padding: 0;
    background-color: $headfoot;
    z-index: 1;

    .bi {
        @include icono-tipo-1
    }
}

.navbar__imgEnc {
    height: 1.8rem;
}

.collapse {
    flex-basis: 100%;
    flex-grow: 0;
}

.navbar > .container-fluid {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: $claro;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: end;

    &:hover {
        color: $claro;
        background-color: $intenso;
    }
}