/* BARRA NAVEGACION */

.navbar {
    padding: 0;
    background-color: $headfoot;
    z-index: 1;
}

.collapse {
    flex-basis: 100%;
    flex-grow: 0;
}

.navbar > .container-fluid {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: $claro;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: end;
        
        &:hover {
            color: $claro;
            background-color: $intenso;
        }
}

.img-enc {
    height: 30px;
}

.bi-house, .bi-brush, .bi-book, .bi-person-circle, .bi-envelope {
    font-size: 1rem!important;
    color: map-get($colorTipo, h5)!important;
}