@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import "general", "header", "footer";

/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}

/* GENERAL */
body {
min-height: 100vh;
font-family: "DM+Sans", sans-serif;
background-color: $gral;
background-image: url(/imagenes/fondo_ondas.svg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;
@include flex-col-center-sb;
}

.row {
> * {
    margin-top: 0;
}
margin: 0;
justify-content: center;
}

.container {
padding: 0;
}

.txtHeaderTarj {
letter-spacing: .1rem;
font-weight: bold;
color: $intenso;
}

/* BOTONES */

.btn-primary {
  background-color: $btn;
  border-style: none;
  display: inline-flex;
  align-items: center;
  padding: .5rem 1.2rem .5rem 1.2rem;
}

.btn-check {
&:active + .btn-primary, &:checked + .btn-primary {
  @extend .btn-primary;
}
}

.btn-primary.dropdown-toggle {
  @extend .btn-primary;
}

.btn-primary:hover {
background-color: $intenso;
transform: scale(1.1);
}
  
/* MAIN PORTADA */

.contIndex {
  max-width: 1000px;

  .bi {
    font-size: 1.2rem!important;
    color: map-get($colorTipo, h5)!important;
  }
}

.contPpalTxt div {
  padding: 2%;

  img {
    animation: escala 5s;
  }
}

@keyframes escala {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.txtTrabajosIndex {
  display: none;
}

/* Imagen portada c/ hover overlay */

.imgLat {
  position: relative;
  object-fit: cover;
}

.imgIndex {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  animation: bordes 6s infinite;
}

@keyframes bordes {
  0% {
    border-radius: 8vw 0 8vw 0;
  }

  20% {
    border-radius: 8vw 0 8vw 0;
  }

  30% {
    border-radius: 0;
  }

  40% {
    border-radius: 0 8vw 0 8vw;
  }

  70% {
    border-radius: 0 8vw 0 8vw;
  }

  80% {
    border-radius: 0;
  }

  100% {
    border-radius: 8vw 0 8vw 0;
  }
}

.btnImg {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgLat:hover {
  .imgIndex {
    opacity: 0.5;
  }
  .btnImg {
    opacity: 1;
  }
}

/* SERVICIOS */

.card {
  border-radius: $radio;
}

.card-body {
  padding: 0 1rem 1rem 1rem;
}

.card-header, .cardHeaderBio {
  background-color: $enc;
  border: 0;
}

.card-header:first-child {
  border-radius: $radio $radio 0 0;
  margin: 0;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

.tarjMaquillaje {
  animation: fadein1 1.3s;
}

.tarjSkin {
  animation: fadein2 1.3s;
}

.tarjTalleres {
  animation: fadein3 1.3s;
}

.tarjMaquillaje, .tarjSkin, .tarjTalleres {
  &:hover {
    transform: scale(1.02);
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }
}

@keyframes fadein3 {
  0% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* PORTFOLIO */

.txtTestimCorto {
  display: none;
}

.imgCar {
  object-fit: cover;
  width: 100%;
  height: 25rem;
}

.carousel-control-next, .carousel-control-prev {
  justify-content: none;
  width: auto;
  background-color: $claro;
  background-blend-mode: soft-light;
}

.carousel-item {
  p, h5 {
    margin: 0;
  }
}

.portfolioVidTest {
  @include flex-col-center-sb;
}

.galeria {
  animation: fadein1 1.3s;
}

.video {
  animation: fadein2 1.3s;
}

.testimonios {
  animation: fadein3 1.3s;
}

/* BIOGRAFIA */
.cardContTxt {
  padding: 1rem;
  margin: 0!important;
}

.cardHeaderBio {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radio 0 0 $radio;
  margin: 0;
  padding: 0;
}

.cardHeaderBio > .bi {
  font-size: 1.5rem!important;
  color: map-get($colorTipo, h5)!important;
}

.imgBio {
  width: 100%;
  height: auto;
  border-radius: $radio;
  animation: fadeinImg 3.2s;
}

@keyframes fadeinImg {
  0% {
    opacity: 0;
  }
}

@for $numTarjBio from 1 to 4 {
  .tarjBio#{$numTarjBio} {
    animation: fadein#{$numTarjBio} 1.3s;
  }
}

/* CONTACTO */

input {
  &[type=text], &[type=email], &[type=number], &[type=tel] {
    border: 1px solid $intenso;
  }
  &:hover {
    background-color: $claro;
  }
}

textarea[type=text] {
  border: 1px solid $intenso;
  &:hover {
    background-color: $claro;
  }
}

label {
  padding: .5rem 0 .25rem 0;
}

.imgContacto {
  width: 25rem;
}

.bi {
  font-size: 1.8rem;
  color: $btn;
}

.formulario {
  animation: pop .25s;
  .bi {
    font-size: 1.2rem!important;
    color: map-get($colorTipo, h5)!important;
  }
}

@keyframes pop {
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.email {
  padding-right: .5rem;
}

div.email.container.col-lg-6, div.telefono.container.col-lg-6 {
  margin: 0;
}

.telefono {
  padding-left: .5rem;
}

.contMapa {
  overflow: hidden;
  position: relative;
  height: 10rem;
  border-radius: $radio;
  border: 1px solid $intenso;
}

.contMapa iframe {
  height: 100%;
  width: 100%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  body {
    background-repeat: repeat-y;
  }

  .row > * {
    margin: .5rem;
  }

  .imgIndex {
    opacity: .5;
  }

  .btnImg {
    opacity: 1;
  }

  .card-img-top {
    height: 18rem;
  }

  .imgContacto {
    display: none;
  }

  .tarjIco {
    margin-top: 0 !important;
  }

  .ms-auto {
    margin: 0 !important;
  }

  .email {
    padding-right: 0;
  }

  .telefono {
    padding-left: 0;
  }

  .colTarjBio {
    height: 35rem;
  }

  .card-body {
    margin-top: .5rem;
  }

  .cardHeaderBio {
    border-radius: $radio $radio 0 0;
  }
  
  .txtHeaderTarj {
    text-align: center;
  }

  .contBioFoto {
    display: none;
  }

  fieldset {
    padding-top: .5rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-img-top {
    height: 14rem;
  }

}

@media only screen and (max-width: 576px) {
  .contImgLat {
    display: none;
  }
  
  .txtTrabajosIndex {
    display: block;
  }

  .card-img-top {
    height: 8rem;
  }

  .imgCar {
    object-fit: cover;
    width: 100%;
    height: 15rem;
  }

  .txtTestimCorto {
    display: block;
  }

  .txtTestimLargo, .imgBio {
    display: none;
  }
  
  .card-body {
    margin-top: 0;
  }

  .txtContactoEspera {
    padding-top: .5rem!important;
  }
}